In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("spark Catalog Hive") \
    .master("local[*]") \
    .config("spark.sql.catalogImplementation", "hive") \
    .config("javax.jdo.option.ConnectionURL", "jdbc:derby:;databaseName=/home/tuannm2/codes/spark-started/spark-warehouse/hive/metastore_db;create=true") \
    .config("spark.hadoop.hive.metastore.warehouse.dir", "file:///home/tuannm2/codes/spark-started/spark-warehouse/hive") \
    .enableHiveSupport() \
    .getOrCreate()

Warning: Ignoring non-Spark config property: javax.jdo.option.ConnectionURL
25/06/05 16:59:35 WARN Utils: Your hostname, CA-00798 resolves to a loopback address: 127.0.1.1; using 10.255.255.254 instead (on interface lo)
25/06/05 16:59:35 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/06/05 16:59:35 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
spark.stop()

In [10]:
spark.sql("show tables").show()

+---------+----------------+-----------+
|namespace|       tableName|isTemporary|
+---------+----------------+-----------+
|  default|dt132_hive_users|      false|
|  default|      hive_users|      false|
+---------+----------------+-----------+

In [3]:
data = [("Alice", 30), ("Bob", 25)]
df = spark.createDataFrame(data, ["name", "age"])

In [5]:
# Ghi dưới định dạng Delta
df.write.format("parquet").mode("overwrite").save("parquet_files")

In [4]:
# Ghi dưới định dạng Delta
df.write.format("delta").mode("overwrite").save("delta_files")

25/06/05 12:08:33 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

In [9]:
df.write.mode("overwrite").saveAsTable("hive_users")

In [3]:
# Đọc lại
df2 = spark.read.format("delta").load("delta_table")
df2.toPandas()

25/06/05 10:45:50 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

    name  age
0  Alice   30
1    Bob   25

In [11]:
# Drop the table
spark.sql("DROP TABLE IF EXISTS dt132_hive_users")

DataFrame[]

In [12]:
spark.table("hive_users").show()

+-----+---+
| name|age|
+-----+---+
|Alice| 30|
|  Bob| 25|
+-----+---+